<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JobIT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="A simple job recruitment web application using ASP.NET MVC" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top container-fluid">
            @if (User.IsInRole("Admin"))
            {
                <img id="openSideNav" class="mr-2" src="~/designImages/hamburger.png" />
                <a class="navbar-brand brand_logo" href="#"><span>Job</span>IT</a>
            }
            else
            {
                <a class="navbar-brand brand_logo" href="#"><span>Job</span>IT</a>
            }
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Find a Job", "Index", "Job", "", new { @class = "nav-link" })
                    </li>
                </ul>
                <div class="navbar-nav ml-auto">
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if (User.IsInRole("Admin"))
    {
        <div>
            @Html.Partial("_Notifications")
            @RenderBody()
            
            <div class="sidenav">
                <header>Dashboard</header>
                <ul>
                    <li><a href="@Url.Action("CreateJob", "Admin")"><img src="~/designImages/create-icon.png"/>Create Job</a></li>
                    <li><a href="@Url.Action("ApplicationsAccepted", "Admin")"><img src="~/designImages/accepted-icon.png"/>Applications Accepted <span class="badge badge-light">@TempData["acceptedCount"]</span></a></li>
                    <li><a href="@Url.Action("ApplicationsRejected", "Admin")"><img src="~/designImages/rejected-icon.png"/>Applications Rejected <span class="badge badge-light">@TempData["rejectedCount"]</span></a></li>
                    <li><a href="@Url.Action("ApplicationsUnattended", "Admin")"><img src="~/designImages/unattended-icon.png"/>Applications Unattended <span class="badge badge-light">@TempData["unattendedCount"]</span></a></li>
                    <li><a href="@Url.Action("TotalApplications", "Admin")"><img src="~/designImages/total-applications-icon.png" />Total Applications <span class="badge badge-light">@TempData["applicationsCount"]</span></a></li>
                    <li><a href="@Url.Action("TotalUsers", "Admin")"><img src="~/designImages/total-users-icon.png"/>Total Users <span class="badge badge-light">@TempData["usersCount"]</span></a></li>
                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="lead">
            @Html.Partial("_Notifications")
            @RenderBody()
        </div>
    }
    
    <footer>
        <div class="footer-text">
            <a href="#">Contact Us</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
        </div>
        <p>&copy; @DateTime.Now.Year - JobIT</p>
        <div class="footer-logo-container">
            <img src="~/designImages/twitter-logo.png" alt="twitter-logo">
            <img src="~/designImages/behance-logo.png" alt="behance-logo">
            <img src="~/designImages/dribble-logo.png" alt="dribble-logo">
            <img src="~/designImages/instagram-logo.png" alt="instagram-logo">
            <img src="~/designImages/facebook-logo.png" alt="facebook-logo">
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#openSideNav").click(function () {
                $(".sidenav").toggleClass("active");
            });

            $("#closeSideNav").click(function () {
                $(".sidenav").toggleClass("active");
            });
        })
    </script>
}
