@model JobIT.web.Models.UserDetails
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Dashboard";
}

<div class="dashboard-container container">
    <div class="profile-pic-container">
        <div class="profile-pic-images">
            @if (!string.IsNullOrEmpty(Model.ProfilePicPath ))
            {
                <img src="@Url.Content(Model.ProfilePicPath)" />
            }
            else
            {
                <img src="~/designImages/profile-icon.png" />
            }
        </div>
        <div class="profile-pic-text">
            <h2>Welcome @User.Identity.GetUserName()!</h2>
            @using (Html.BeginForm("UploadImage", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Hidden("Id", Model.Id)
                <label for="UploadImage"> Change Profile Picture</label>
                <br />
                <input type="file" id="UploadImage" name="File" class="form-control-file" />
                <br />
                <button id="save" class="btn btn-danger">Save Picture</button>
            }
        </div>
    </div>



    <div class="dashboard-actions">
        <div>
            <img src="~/designImages/resume-icon.png" />
            <p>Upload your resume once and save yourself the stress of having to do so for every job application</p>
            <a href="@Url.Action("UploadResume", "Profile")" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Upload Resume</a>

        </div>
        <div>
            <img src="~/designImages/edit-icon.png" />
            <p>Update your details and have them readily available for every job application</p>
            @Html.ActionLink("Update Details", "Update", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </div>
        <div>
            <img src="~/designImages/check-icon.png" />
            <p>We have all your applications carefully stored to ensure you don't lose track of them</p>
            @Html.ActionLink("My Applications", "ViewApplicationStatus", "", new { @class = "btn btn-primary" })
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Upload Resume</h5>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("UploadResume", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.Hidden("Id", Model.Id)
                        <input type="file" id="UploadResume" name="File" class="form-control-file" />
                        <br />
                        <button class="btn btn-primary button">Save Resume</button>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })


        })

        var strValue = "@((string)ViewBag.msg)";
        if (strValue == "Upload Successful") {
            swal("", strValue, "success");
        }
        else if (strValue == "Select a txt, doc, docx, pdf, xls or xlsx document")
        {
            swal("", strValue, "error");
        }
            
        

    </script>
}